<br/>
<div class="results-block">
  <%= render 'layouts/messages' %>
</div>
<br/>
<% if @friends %>
  <div class="card card-header results-block">
  <table class="col-md-12">
  <tbody>
  <% @friends.each do |friend| %>
    <tr>
      <td><strong>Email: </strong> <%= friend.email %></td>
      <td><strong>First name: </strong> <%= friend.first_name %></td>
      <td><strong>Last name: </strong> <%= friend.last_name %></td>
      <% if current_user.can_follow_friend?(friend.id) %>
      <td><strong>Actions: </strong> <%= link_to "View Profile", "#", class: "btn btn-sm btn-success" %>
        <%= link_to 'Follow', friendships_path(friend_id: friend.id), 
                                      class: "btn btn-xs btn-success", method: :post %> 
      <% else %> 
        <span class="badge badge-secondary"> 
          You are already following <%= friend.email %>
        </span>
      </td>
      <% end %>
    </div>
  <% end %>
  </div>
  <br/>
<% end %>